<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--DATA-->
    <!--JQUERY.JS-->
    <!--INDEX.JS-->
    <!--STYLE-->
    <title>喵！</title>
  </head>
  <body>
    <div class="main">
      <h1>女性倾向跨性别者 知识与社群测试</h1>
      <p>本测试仅供娱乐。（真的</p>
      <p>源代码（很烂）：<a href="https://github.com/Lhcfl/tf_test">GitHub</a></p>
      <p><b>⚠️ 本测试中可能含有令人不适，或者可能触发您的性别焦虑的内容。</b></p>
      <div class="description">
        <p>本人才疏学浅，专业问题可能有错误，如有发现，敬请联系指正。</p>
      </div>
      <hr/>
      <div id="problem-container"></div>
      <hr/>
      <div id="submit-container">
        <button class="btn btn-primary btn-text" onclick="submit()">提交</button>
      </div>
      <div id="result-container">
      </div>
    </div>
  </body>
</html>